<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% if site.gpg_fingerprint %}
                    <li>gpg fingerprint: {{site.gpg_fingerprint}}</li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
              <span class="fa fa-github-square fa-lg" ></span>

                            <span class="username">{{ site.github_username }}</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa fa-twitter-square fa-lg" ></span>

                            <span class="username">{{ site.twitter_username }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa fa-linkedin-square fa-lg"></span>

                            <span class="username">{{ site.linkedin_username }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.gpg_pubkey_file %}
                    <li>
                        <a href="{{ site.gpg_pubkey_file }}">
              <span class="fa fa-user-secret fa-lg"></span>

                            <span class="username">gpg public key</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col  footer-col-3">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>

    </div>

</footer>
