<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description"
          content="{% if page.extra.excerpt %}{{ page.extra.excerpt | safe | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}">

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/fa-all.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
    <link rel="manifest" href="/img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body>

<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ config.base_url }}/">
            <img src="/img/{{ config.extra.title_image }}" alt="{{ config.title }}">
        </a>

        <nav class="site-nav">
            <a href="#" class="menu-icon">
                <svg viewBox="0 0 18 15">
                    <path fill="#424242"
                          d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                    <path fill="#424242"
                          d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                    <path fill="#424242"
                          d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                </svg>
            </a>

            <div class="trigger">
                {% set home = get_section(path = "_index.md") %}
                <a class="page-link" href="{{ home.permalink }}">Home</a>
                {% for section in home.subsections %}
                {% if section %}
                {% set section = get_section(path = section) %}
                <a class="page-link" href="{{ section.permalink }}">{{ section.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </nav>

    </div>

</header>

<div class="page-content">
    <div class="wrapper">

        {% block content %}
        <div class="home">

            <h1 class="page-title">Posts</h1>
            <ul class="post-list">
                {% for page in section.pages %}
                <li>
                    <span class="post-meta">{{ page.date | date(format="%b %-d, %Y") }}</span>
                    <h2>
                        <a class="post-link" href="{{ page.permalink }}">{{ page.title }}</a>
                    </h2>
                </li>
                {% endfor %}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/rss.xml" }}">via RSS</a></p>

        </div>
        {% endblock content %}

    </div>
</div>

<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li><a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a></li>
                    {% if config.extra.gpg_fingerprint %}
                    <li>gpg fingerprint: {{config.extra.gpg_fingerprint}}</li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                    {% if config.extra.bitbucket_username %}
                    <li>
                        <a href="https://bitbucket.org/{{ config.extra.bitbucket_username }}">
                            <span class="fab fa-bitbucket fa-lg"></span>
                            <span class="username">{{ config.extra.bitbucket_username }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if config.extra.github_username %}
                    <li>
                        <a href="https://github.com/{{ config.extra.github_username }}">
                            <span class="fab fa-github fa-lg"></span>
                            <span class="username">{{ config.extra.github_username }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if config.extra.mastodon_username %}
                    <li>
                        <a href="https://{{ config.extra.mastodon_host }}/@{{ config.extra.mastodon_username }}">
                            <span class="fab fa-mastodon fa-lg"></span>
                            <span class="username">{{ config.extra.mastodon_username }}</span>
                            <span class="username">@{{ config.extra.mastodon_host }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if config.extra.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ config.extra.twitter_username }}">
                            <span class="fab fa-twitter-square fa-lg"></span>
                            <span class="username">{{ config.extra.twitter_username }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if config.extra.gpg_pubkey_file %}
                    <li>
                        <a href="{{ config.extra.gpg_pubkey_file }}">
                            <span class="fas fa-user-secret fa-lg"></span>
                            <span class="username">gpg public key</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col  footer-col-3">
                <p class="text">{{ config.description }}</p>
            </div>
        </div>

    </div>

</footer>

</body>
